In [244]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [245]:
df = pd.read_excel( "./Ask A Manager Salary Survey 2021 (Responses) (version 1 partially cleaned).xlsx")

In [246]:
df

,Timestamp,Age Range,Industry,Job Title,Job Extra Context,Annual Salary,Monetary Compensation,Unnamed: 7,Income Extra Context,Country,State (US),City,General Work Experience,Work Experience in the Field,Higher Education Level,Gender,Race
0,2021-04-27 11:18:26.555,35-44,Recruitment or HR,HR Manager/Accounts Payable,NaN,53500,0.0,USD,NaN,US,Minnesota,Minneapolis,11 - 20 years,2 - 4 years,College degree,Woman,White
1,2024-02-06 21:15:27.639,18-24,Computing or Tech,sdsd,ds,4,22.0,USD,dd,ss,Arkansas,s,5-7 years,11 - 20 years,Some college,Man,Black or African American
2,2022-01-27 14:13:04.563,18-24,Media & Digital,homie,NaN,56,5.0,USD,5,us,Alabama,dino,5-7 years,1 year or less,College degree,Man,White
3,2021-07-06 18:49:41.205,25-34,Nonprofits,Districtwide Program Coordinator,NaN,47000,NaN,USD,NaN,United States,Michigan,Decatur,8 - 10 years,8 - 10 years,Master's degree,Woman,White
4,2021-04-27 17:36:25.691,45-54,Business or Consulting,Personal Executive Assistant,NaN,55,NaN,USD,NaN,US,Michigan,Bloomfield Hills,21 - 30 years,11 - 20 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28076,2024-09-25 19:54:17.973,45-54,"Accounting, Banking & Finance",Product Manager Lead,NaN,117000,8000.0,USD,NaN,USA,Missouri,Remote,11 - 20 years,11 - 20 years,College degree,Woman,White
28077,2024-09-25 21:34:43.373,45-54,Education (Primary/Secondary),Curriculum Writer,I am a freelance contract curriculum writer fo...,70000,0.0,USD,NaN,United States,South Carolina,Bennettsville,21 - 30 years,21 - 30 years,Master's degree,Woman,White
28078,2024-09-30 10:52:29.962,55-64,Government and Public Administration,Clerical Officer,NaN,28600,NaN,EUR,NaN,Ireland,NaN,Dublin,21 - 30 years,1 year or less,"Professional degree (MD, JD, etc.)",Man,White
28079,2024-10-04 13:05:24.048,18-24,Computing or Tech,Software Engineering Co-Op,I was an Intern,56160,0.0,USD,NaN,United States,Rhode Island,Jhonston,1 year or less,1 year or less,College degree,Man,White
28080,2024-10-07 05:17:55.673,65 or over,Social networks,Content creator,NaN,2000000,NaN,USD,NaN,Taiwan,"Utah, Wisconsin",Milwaukee,41 years or more,2 - 4 years,PhD,Non-binary,"Asian or Asian American, Black or African Amer..."

In [247]:
df.describe()

                           Timestamp  Annual Salary  Monetary Compensation
count                          28081   2.808100e+04           2.077500e+04
mean   2021-05-15 18:08:23.991712768   3.611154e+05           1.815779e+04
min       2021-04-27 11:02:09.743000   0.000000e+00           0.000000e+00
25%    2021-04-27 14:21:45.432999936   5.400000e+04           0.000000e+00
50%       2021-04-28 13:57:36.252000   7.500000e+04           2.000000e+03
75%    2021-04-29 20:36:12.011000064   1.100000e+05           1.000000e+04
max       2024-10-07 05:17:55.673000   6.000070e+09           1.200000e+08
std                              NaN   3.621049e+07           8.338725e+05

In [248]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28081 entries, 0 to 28080
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Timestamp                      28081 non-null  datetime64[ns]
 1   Age Range                      28081 non-null  object
 2   Industry                       28007 non-null  object
 3   Job Title                      28080 non-null  object
 4   Job Extra Context              7263 non-null   object
 5   Annual Salary                  28081 non-null  int64
 6   Monetary Compensation          20775 non-null  float64
 7   Unnamed: 7                     28081 non-null  object
 8   Income Extra Context           3040 non-null   object
 9   Country                        28081 non-null  object
 10  State (US)                     23056 non-null  object
 11  City                           27999 non-null  object
 12  General Work Experience        28081 non-null  object
 13  Work Experience in the Field   28081 non-null  object
 14  Higher Education Level         27860 non-null  object
 15  Gender                         27910 non-null  object
 16  Race                           27904 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 3.6+ MB

In [249]:
df = df.astype({'Country': 'str'})

### Thing we can see in this set:
- there are a lot of NaN values due to the extra info fields, wich are often filled with poor quality data.
- the timestamp provides too much unnecessary information. 
- the format of country and state is spread out and confusing.
- the currency column has the wrong header name.
- work experience and general work experience have the string "years" at the end, which is not necessary.
- the race field is not limited to one or two races, some people have choosen all of them.
- the numbers in annual salary and monetary compensation seems to have too many digits, int64 and float64 are unnecessarily long digit lengths.

In [250]:
df.isna().any()

Timestamp                        False
Age Range                        False
Industry                          True
Job Title                         True
Job Extra Context                 True
Annual Salary                    False
Monetary Compensation             True
Unnamed: 7                       False
Income Extra Context              True
Country                          False
State (US)                        True
City                              True
General Work Experience          False
Work Experience in the Field     False
Higher Education Level            True
Gender                            True
Race                              True
dtype: bool

the only columns allowed to have missing values are:
* Job extra context
* Monetary compensation
* Income extra context
* State(US)

In [251]:
df['Timestamp'] = pd.to_datetime(df['Timestamp']).dt.date

In [252]:
df.head(5)

,Timestamp,Age Range,Industry,Job Title,Job Extra Context,Annual Salary,Monetary Compensation,Unnamed: 7,Income Extra Context,Country,State (US),City,General Work Experience,Work Experience in the Field,Higher Education Level,Gender,Race
0,2021-04-27,35-44,Recruitment or HR,HR Manager/Accounts Payable,NaN,53500,0.0,USD,NaN,US,Minnesota,Minneapolis,11 - 20 years,2 - 4 years,College degree,Woman,White
1,2024-02-06,18-24,Computing or Tech,sdsd,ds,4,22.0,USD,dd,ss,Arkansas,s,5-7 years,11 - 20 years,Some college,Man,Black or African American
2,2022-01-27,18-24,Media & Digital,homie,NaN,56,5.0,USD,5,us,Alabama,dino,5-7 years,1 year or less,College degree,Man,White
3,2021-07-06,25-34,Nonprofits,Districtwide Program Coordinator,NaN,47000,NaN,USD,NaN,United States,Michigan,Decatur,8 - 10 years,8 - 10 years,Master's degree,Woman,White
4,2021-04-27,45-54,Business or Consulting,Personal Executive Assistant,NaN,55,NaN,USD,NaN,US,Michigan,Bloomfield Hills,21 - 30 years,11 - 20 years,College degree,Woman,White

# Data Cleaning

## Cleaning country column

In [253]:
df['Country'].unique()

array(['US', 'ss', 'us', 'United States', 'USA', 'Australia', 'Ireland',
       'U.S.A.', 'Argentina',
       "I work for an US based company but I'm from Argentina.",
       'Australia ', 'Bangladesh ', 'Brazil', 'Brazil ', 'Brasil',
       'Canada', 'canada', 'Switzerland', 'China', 'Pakistan', 'Colombia',
       'croatia', 'czech republic', 'Czech republic', 'Czechia',
       'Czech Republic ', 'Czech Republic', 'Denmark', 'Denmark ',
       'denmark', 'Hungary', 'ff', 'Scotland', 'UK', 'Indonesia',
       'Israel', 'India', 'INDIA', 'England', 'South Korea', 'Kuwait',
       'Sri Lanka', 'Mexico', 'MÃ©xico', 'Malaysia', 'NIGERIA', 'Nigeria ',
       'Norway', 'Norway ', 'Taiwan', 'New Zealand', 'Philippines',
       'pakistan', 'Poland', 'Poland ', 'usa', 'Mainland China',
       'Saudi Arabia', 'Sweden ', 'Singapore', 'Singapore ',
       'ARGENTINA BUT MY ORG IS IN THAILAND', 'Thailand', 'Turkey',
       'Trinidad and Tobago', 'South Africa', 'United Kingdom',
       'United Kingdom ', 'Scotland ', 'U.S.', 'United States ',
       'The Netherlands', 'Spain', 'Usa', 'finland',
       'United States of America', 'France', 'United states', 'USA ',
       'United states ', 'Germany', 'UK ', 'united states', 'Uk',
       'United States of America ', 'U.S. ', 'Canada ', 'U.S>', 'ISA',
       'Great Britain ', 'US ', 'United State', 'U.S.A', 'America',
       'Netherlands', 'netherlands', 'England ',
       'united states of america', 'Ireland ', 'Netherlands ', 'Bermuda',
       'Us', 'The United States', 'United State of America', 'Germany ',
       'Mexico ', 'United Stated', 'South Africa ', 'Belgium',
       'Northern Ireland', 'u.s.', 'UNITED STATES', 'united States',
       'Sweden', 'Hong Kong', 'Sri lanka', 'Contracts',
       'USA-- Virgin Islands', 'United Statws', 'England/UK', 'U.S',
       "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located",
       'Unites States ', 'Usa ', 'U.S.A. ', 'England, UK.', 'Greece',
       'Japan', 'U. S. ', 'Britain ', 'United Sates', 'Japan ', 'Austria',
       'Canada, Ottawa, ontario', 'Global', 'United States of American ',
       'FRANCE', 'Uniited States', 'United Kingdom (England)',
       'Worldwide (based in US but short term trips aroudn the world)',
       'CANADA ', 'Canadw', 'Luxembourg', 'United Sates of America',
       'ireland',
       'United States (I work from home and my clients are all over the US/Canada/PR',
       'CANADA', 'Unted States', 'germany', 'United Statesp',
       'United Stattes', 'United Statea', 'United Kingdom.',
       'Unites States', 'United Statees', 'United kingdom',
       'Cayman Islands', 'UNited States', 'Can',
       'I am located in Canada but I work for a company in the US',
       'United kingdom ', 'Uniyed states', 'Uniyes States',
       'United States of Americas', 'U.A.', 'Latvia', 'Finland', 'U. S.',
       'Puerto Rico', 'US of A', 'Rwanda', 'United States of america ',
       'United Arab Emirates ', 'Spain ', 'U.K. ', 'Romania', 'U.SA',
       'United Kindom', 'United Status', 'New Zealand ',
       'Currently finance', ' U.S.', 'Serbia', 'Russia ', 'UXZ',
       'England, UK', 'Canda', 'Puerto Rico ', 'Canada and USA',
       'Catalonia', '$2,175.84/year is deducted for benefits', 'uk',
       'France ', 'Italy (South)', 'Jersey, Channel islands', 'Uk ',
       'Virginia', 'Afghanistan', 'U.s.', 'Great Britain', 'U.s.a.',
       'USS', 'Uniteed States', 'New Zealand Aotearoa', 'U.K.',
       'Hartford', 'Japan, US Gov position', 'Csnada', 'United Stares',
       'New zealand', 'I.S.', 'UK (Northern Ireland)',
       'UK for U.S. company', ' US', 'Unites states ', 'NZ', 'Us ',
       'Hong Kong ', 'Canad', 'Unite States', 'australia', 'The US',
       'united states ', 'The Netherlands ', 'Cambodia',
       'United states of America ', 'Vietnam', 'Remote', 'Bangladesh',
       'Lithuania', 'Eritrea',
       'For the United States government, but posted overseas', 'IS',
       'Switzerland ', 'United Kingdomk', 'Italy', ' New Zealand', 'Cuba',
       'Slovenia', 'Australi', "Cote d'Ivoire", 'united kingdom',
       'From Romania, but for an US based company', 'Somalia',
       'Wales (United Kingdom)', 'England, Gb', 'UnitedStates', 'spain',
       'Danmark', 'U.K. (northern England)', 'U.K', 'NL',
       'the Netherlands', 'Nederland', 'Slovakia',
       'United States of america', 'Portugal ', 'England, United Kingdom',
       'Sierra Leone', 'Englang', 'United statew', 'UAE', 'Belgium ',
       'bonus based on meeting yearly goals set w/ my supervisor',
       'International ', 'The Bahamas ', 'Wales',
       "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. ",
       'Costa Rica', ' United States', 'United Statues', 'Untied States',
       'USA (company is based in a US territory, I work remote)', 'Chile',
       'UK (England)', 'UK, remote', 'Scotland, UK', 'USAB',
       'Unitied States', 'Qatar', 'United Sttes', 'Remote (philippines)',
       'Unites kingdom ', 'South africa', 'Portugal', 'united stated',
       'United States Of America', 'Nigeria', 'PanamÃ¡',
       'Northern Ireland ', 'england', 'SWITZERLAND',
       'Austria, but I work remotely for a Dutch/British company',
       'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered. ',
       'Uniter Statez', 'U. S ', 'Congo', 'United states of America',
       'Uruguay', 'USA tomorrow ', 'United Stateds',
       'n/a (remote from wherever I want)', 'singapore',
       'US govt employee overseas, country withheld', 'usa ', 'Malaysia ',
       'Uganda', 'Malta', 'Bulgaria', 'Estonia', 'Morocco', 'new zealand',
       'Africa', 'Ecuador', 'Zimbabwe', 'Ghana', 'San Francisco', 'Usat',
       'ðŸ‡ºðŸ‡¸ ', 'Luxemburg', 'Unitef Stated', 'UA', 'Wales, UK',
       'United Stares ', 'Croatia ', 'England, United Kingdom ',
       'United STates', 'USaa', 'uSA', 'South Korea ', 'The netherlands',
       'Ukraine ', 'america', 'switzerland', 'United States- Puerto Rico',
       'From New Zealand but on projects across APAC', 'Y', 'United y',
       'Wales (UK)', 'Isle of Man', 'Northern Ireland, United Kingdom',
       'europe', 'California ',
       'UK, but for globally fully remote company', 'Australian ',
       'Jamaica', 'uS', 'USD', 'the netherlands',
       "USA, but for foreign gov't", 'japan', 'Kenya', 'Jordan',
       'United Statss', 'United states of america', 'UsA',
       'I work for a UAE-based organization, though I am personally in the US.',
       'United  States', 'france', 'Aotearoa New Zealand', 'Policy',
       'Cyprus', 'hong konh', 'United States is America', 'Liechtenstein',
       'Company in Germany. I work from Pakistan.', 'CanadÃ¡', 'ENGLAND',
       'United States of American', 'U.S.A ', 'Bosnia and Herzegovina',
       'London', 'LOUTRELAND', 'philippines', 'Myanmar', 'Burma'],
      dtype=object)

In [254]:
df['Country'] = df['Country'].str.title()

In [255]:
df['Country'] = df['Country'].str.strip()

In [256]:
df['Country'].dropna()

0                   Us
1                   Ss
2                   Us
3        United States
4                   Us
             ...
28076              Usa
28077    United States
28078          Ireland
28079    United States
28080           Taiwan
Name: Country, Length: 28081, dtype: object

lets find all the "United States" variations

In [257]:
variations = df[df['Country'].str.contains('U', 'u')]
variations['Country'].unique()

array(['Us', 'United States', 'Usa', 'U.S.A.',
       "I Work For An Us Based Company But I'M From Argentina.", 'Uk',
       'United Kingdom', 'U.S.', 'United States Of America', 'U.S>',
       'United State', 'U.S.A', 'The United States',
       'United State Of America', 'United Stated', 'Usa-- Virgin Islands',
       'United Statws', 'England/Uk', 'U.S', 'Unites States',
       'England, Uk.', 'U. S.', 'United Sates',
       'United States Of American', 'Uniited States',
       'United Kingdom (England)',
       'Worldwide (Based In Us But Short Term Trips Aroudn The World)',
       'United Sates Of America',
       'United States (I Work From Home And My Clients Are All Over The Us/Canada/Pr',
       'Unted States', 'United Statesp', 'United Stattes',
       'United Statea', 'United Kingdom.', 'United Statees',
       'I Am Located In Canada But I Work For A Company In The Us',
       'Uniyed States', 'Uniyes States', 'United States Of Americas',
       'U.A.', 'Us Of A', 'United Arab Emirates', 'U.K.', 'U.Sa',
       'United Kindom', 'United Status', 'Uxz', 'England, Uk',
       'Canada And Usa', 'Uss', 'Uniteed States',
       'Japan, Us Gov Position', 'United Stares', 'Uk (Northern Ireland)',
       'Uk For U.S. Company', 'Unite States', 'The Us',
       'For The United States Government, But Posted Overseas',
       'United Kingdomk', 'From Romania, But For An Us Based Company',
       'Wales (United Kingdom)', 'Unitedstates',
       'U.K. (Northern England)', 'U.K', 'England, United Kingdom',
       'United Statew', 'Uae',
       "I Earn Commission On Sales. If I Meet Quota, I'M Guaranteed Another 16K Min. Last Year I Earned An Additional 27K. It'S Not Uncommon For People In My Space To Earn 100K+ After Commission.",
       'United Statues', 'Untied States',
       'Usa (Company Is Based In A Us Territory, I Work Remote)',
       'Uk (England)', 'Uk, Remote', 'Scotland, Uk', 'Usab',
       'Unitied States', 'United Sttes', 'Unites Kingdom',
       'Uniter Statez', 'U. S', 'Uruguay', 'Usa Tomorrow',
       'United Stateds', 'Us Govt Employee Overseas, Country Withheld',
       'Uganda', 'Usat', 'Unitef Stated', 'Ua', 'Wales, Uk', 'Usaa',
       'Ukraine', 'United States- Puerto Rico', 'United Y', 'Wales (Uk)',
       'Northern Ireland, United Kingdom',
       'Uk, But For Globally Fully Remote Company', 'Usd',
       "Usa, But For Foreign Gov'T", 'United Statss',
       'I Work For A Uae-Based Organization, Though I Am Personally In The Us.',
       'United  States', 'United States Is America'], dtype=object)

In [258]:
us_variations = [
'United States',
'United States Of America',
'United State',
'The United States', 
'United State Of America',
'United Stated', 
'United Statws', 
'United Sates',
'United States Of American',
'United Sates Of America',
'United States (I Work From Home And My Clients Are All Over The Us/Canada/Pr',
'United Statesp',
'United Stattes',
'United Statea', 
'United Statees', 
'United States Of Americas', 
'United Status',
'United Stares',
'For The United States Government, But Posted Overseas', 
'Unitedstates', 
'United Statew', 
'United Statues',
'United Sttes', 
'United Stateds',
'United Y', 
'United Statss',
'United  States', 
'United States Is America',
'Us', 
'United States', 
'Usa', 
'U.S.A.', 
'U.S.', 
'U.S>', 
'U.S.A', 
'Usa-- Virgin Islands',
'U.S', 
'Unites States', 
'U. S.',
'Uniited States', 
'Worldwide (Based In Us But Short Term Trips Aroudn The World)',
'Unted States',
'Uniyed States', 
'Uniyes States', 
'U.A.', 
'Us Of A',
'U.K.', 
'U.Sa', 
'Uxz',
'Uss', 
'Uniteed States',
'Unite States', 
'The Us', 
'Uae',
'Untied States',
'Usa (Company Is Based In A Us Territory, I Work Remote)',
'Unitied States', 'Uniter Statez', 'U. S',
'Usa Tomorrow',
'Us Govt Employee Overseas, Country Withheld','Usat',
'Unitef Stated', 'Ua', 'Usaa', 
'Usd',
"Usa, But For Foreign Gov'T",
'I Work For A Uae-Based Organization, Though I Am Personally In The Us.',
'Ss',
'California',
'ðŸ‡ºðŸ‡¸',
'Virginia', 
'Hartford',
'Usab',
'San Francisco',
'ðŸ‡ºðŸ‡¸',

]

In [259]:
df.loc[df['Country'].isin(us_variations), "Country"] = "United States"

In [260]:
df['Country'].unique()

array(['United States', 'Australia', 'Ireland', 'Argentina',
       "I Work For An Us Based Company But I'M From Argentina.",
       'Bangladesh', 'Brazil', 'Brasil', 'Canada', 'Switzerland', 'China',
       'Pakistan', 'Colombia', 'Croatia', 'Czech Republic', 'Czechia',
       'Denmark', 'Hungary', 'Ff', 'Scotland', 'Uk', 'Indonesia',
       'Israel', 'India', 'England', 'South Korea', 'Kuwait', 'Sri Lanka',
       'Mexico', 'MÃ©xico', 'Malaysia', 'Nigeria', 'Norway', 'Taiwan',
       'New Zealand', 'Philippines', 'Poland', 'Mainland China',
       'Saudi Arabia', 'Sweden', 'Singapore',
       'Argentina But My Org Is In Thailand', 'Thailand', 'Turkey',
       'Trinidad And Tobago', 'South Africa', 'United Kingdom',
       'The Netherlands', 'Spain', 'Finland', 'France', 'Germany', 'Isa',
       'Great Britain', 'America', 'Netherlands', 'Bermuda', 'Belgium',
       'Northern Ireland', 'Hong Kong', 'Contracts', 'England/Uk',
       "We Don'T Get Raises, We Get Quarterly Bonuses, But They Periodically Asses Income In The Area You Work, So I Got A Raise Because A 3Rd Party Assessment Showed I Was Paid Too Little For The Area We Were Located",
       'England, Uk.', 'Greece', 'Japan', 'Britain', 'Austria',
       'Canada, Ottawa, Ontario', 'Global', 'United Kingdom (England)',
       'Canadw', 'Luxembourg', 'United Kingdom.', 'Cayman Islands', 'Can',
       'I Am Located In Canada But I Work For A Company In The Us',
       'Latvia', 'Puerto Rico', 'Rwanda', 'United Arab Emirates',
       'Romania', 'United Kindom', 'Currently Finance', 'Serbia',
       'Russia', 'England, Uk', 'Canda', 'Canada And Usa', 'Catalonia',
       '$2,175.84/Year Is Deducted For Benefits', 'Italy (South)',
       'Jersey, Channel Islands', 'Afghanistan', 'New Zealand Aotearoa',
       'Japan, Us Gov Position', 'Csnada', 'I.S.',
       'Uk (Northern Ireland)', 'Uk For U.S. Company', 'Nz', 'Canad',
       'Cambodia', 'Vietnam', 'Remote', 'Lithuania', 'Eritrea', 'Is',
       'United Kingdomk', 'Italy', 'Cuba', 'Slovenia', 'Australi',
       "Cote D'Ivoire", 'From Romania, But For An Us Based Company',
       'Somalia', 'Wales (United Kingdom)', 'England, Gb', 'Danmark',
       'U.K. (Northern England)', 'U.K', 'Nl', 'Nederland', 'Slovakia',
       'Portugal', 'England, United Kingdom', 'Sierra Leone', 'Englang',
       'Bonus Based On Meeting Yearly Goals Set W/ My Supervisor',
       'International', 'The Bahamas', 'Wales',
       "I Earn Commission On Sales. If I Meet Quota, I'M Guaranteed Another 16K Min. Last Year I Earned An Additional 27K. It'S Not Uncommon For People In My Space To Earn 100K+ After Commission.",
       'Costa Rica', 'Chile', 'Uk (England)', 'Uk, Remote',
       'Scotland, Uk', 'Qatar', 'Remote (Philippines)', 'Unites Kingdom',
       'PanamÃ¡',
       'Austria, But I Work Remotely For A Dutch/British Company',
       'I Was Brought In On This Salary To Help With The Ehr And Very Quickly Was Promoted To Current Position But Compensation Was Not Altered.',
       'Congo', 'Uruguay', 'N/A (Remote From Wherever I Want)', 'Uganda',
       'Malta', 'Bulgaria', 'Estonia', 'Morocco', 'Africa', 'Ecuador',
       'Zimbabwe', 'Ghana', 'Luxemburg', 'Wales, Uk', 'Ukraine',
       'United States- Puerto Rico',
       'From New Zealand But On Projects Across Apac', 'Y', 'Wales (Uk)',
       'Isle Of Man', 'Northern Ireland, United Kingdom', 'Europe',
       'Uk, But For Globally Fully Remote Company', 'Australian',
       'Jamaica', 'Kenya', 'Jordan', 'Aotearoa New Zealand', 'Policy',
       'Cyprus', 'Hong Konh', 'Liechtenstein',
       'Company In Germany. I Work From Pakistan.', 'CanadÃ¡',
       'Bosnia And Herzegovina', 'London', 'Loutreland', 'Myanmar',
       'Burma'], dtype=object)

In [261]:
variations = df[df['Country'].str.contains('Brit')]
variations['Country'].unique()

array(['Great Britain', 'Britain',
       'Austria, But I Work Remotely For A Dutch/British Company'],
      dtype=object)

In [262]:
uk_variations = [
'Uk',
'United Kingdom', 
'England/Uk', 
'England, Uk.',
'United Kingdom (England)', 
'United Kingdom.',
'United Kindom', 
'England, Uk',
'Uk (Northern Ireland)', 
'Uk For U.S. Company', 
'United Kingdomk',
'Wales (United Kingdom)', 
'U.K. (Northern England)', 
'U.K',
'England, United Kingdom',
'Uk (England)', 
'Uk, Remote', 
'Scotland, Uk', 
'Unites Kingdom',
'Wales, Uk', 
'Wales (Uk)',
'Northern Ireland, United Kingdom',
'Uk, But For Globally Fully Remote Company',
'England',
'England, Gb',
'Englang',
'Wales',
'Scotland',
'Northern Ireland',
'Great Britain', 
'Britain',
'London',
'Jersey, Channel Islands',
'Isle Of Man',
]

In [263]:
df.loc[df['Country'].isin(uk_variations), "Country"] = "United Kingdom"

In [264]:
df['Country'].unique()

array(['United States', 'Australia', 'Ireland', 'Argentina',
       "I Work For An Us Based Company But I'M From Argentina.",
       'Bangladesh', 'Brazil', 'Brasil', 'Canada', 'Switzerland', 'China',
       'Pakistan', 'Colombia', 'Croatia', 'Czech Republic', 'Czechia',
       'Denmark', 'Hungary', 'Ff', 'United Kingdom', 'Indonesia',
       'Israel', 'India', 'South Korea', 'Kuwait', 'Sri Lanka', 'Mexico',
       'MÃ©xico', 'Malaysia', 'Nigeria', 'Norway', 'Taiwan', 'New Zealand',
       'Philippines', 'Poland', 'Mainland China', 'Saudi Arabia',
       'Sweden', 'Singapore', 'Argentina But My Org Is In Thailand',
       'Thailand', 'Turkey', 'Trinidad And Tobago', 'South Africa',
       'The Netherlands', 'Spain', 'Finland', 'France', 'Germany', 'Isa',
       'America', 'Netherlands', 'Bermuda', 'Belgium', 'Hong Kong',
       'Contracts',
       "We Don'T Get Raises, We Get Quarterly Bonuses, But They Periodically Asses Income In The Area You Work, So I Got A Raise Because A 3Rd Party Assessment Showed I Was Paid Too Little For The Area We Were Located",
       'Greece', 'Japan', 'Austria', 'Canada, Ottawa, Ontario', 'Global',
       'Canadw', 'Luxembourg', 'Cayman Islands', 'Can',
       'I Am Located In Canada But I Work For A Company In The Us',
       'Latvia', 'Puerto Rico', 'Rwanda', 'United Arab Emirates',
       'Romania', 'Currently Finance', 'Serbia', 'Russia', 'Canda',
       'Canada And Usa', 'Catalonia',
       '$2,175.84/Year Is Deducted For Benefits', 'Italy (South)',
       'Afghanistan', 'New Zealand Aotearoa', 'Japan, Us Gov Position',
       'Csnada', 'I.S.', 'Nz', 'Canad', 'Cambodia', 'Vietnam', 'Remote',
       'Lithuania', 'Eritrea', 'Is', 'Italy', 'Cuba', 'Slovenia',
       'Australi', "Cote D'Ivoire",
       'From Romania, But For An Us Based Company', 'Somalia', 'Danmark',
       'Nl', 'Nederland', 'Slovakia', 'Portugal', 'Sierra Leone',
       'Bonus Based On Meeting Yearly Goals Set W/ My Supervisor',
       'International', 'The Bahamas',
       "I Earn Commission On Sales. If I Meet Quota, I'M Guaranteed Another 16K Min. Last Year I Earned An Additional 27K. It'S Not Uncommon For People In My Space To Earn 100K+ After Commission.",
       'Costa Rica', 'Chile', 'Qatar', 'Remote (Philippines)', 'PanamÃ¡',
       'Austria, But I Work Remotely For A Dutch/British Company',
       'I Was Brought In On This Salary To Help With The Ehr And Very Quickly Was Promoted To Current Position But Compensation Was Not Altered.',
       'Congo', 'Uruguay', 'N/A (Remote From Wherever I Want)', 'Uganda',
       'Malta', 'Bulgaria', 'Estonia', 'Morocco', 'Africa', 'Ecuador',
       'Zimbabwe', 'Ghana', 'Luxemburg', 'Ukraine',
       'United States- Puerto Rico',
       'From New Zealand But On Projects Across Apac', 'Y', 'Europe',
       'Australian', 'Jamaica', 'Kenya', 'Jordan', 'Aotearoa New Zealand',
       'Policy', 'Cyprus', 'Hong Konh', 'Liechtenstein',
       'Company In Germany. I Work From Pakistan.', 'CanadÃ¡',
       'Bosnia And Herzegovina', 'Loutreland', 'Myanmar', 'Burma'],
      dtype=object)

In [265]:
variations = df[df['Country'].str.contains('A')]
variations['Country'].unique()

array(['Australia', 'Argentina',
       "I Work For An Us Based Company But I'M From Argentina.",
       'Saudi Arabia', 'Argentina But My Org Is In Thailand',
       'Trinidad And Tobago', 'South Africa', 'America',
       "We Don'T Get Raises, We Get Quarterly Bonuses, But They Periodically Asses Income In The Area You Work, So I Got A Raise Because A 3Rd Party Assessment Showed I Was Paid Too Little For The Area We Were Located",
       'Austria',
       'I Am Located In Canada But I Work For A Company In The Us',
       'United Arab Emirates', 'Canada And Usa', 'Afghanistan',
       'New Zealand Aotearoa', 'Australi',
       'From Romania, But For An Us Based Company',
       "I Earn Commission On Sales. If I Meet Quota, I'M Guaranteed Another 16K Min. Last Year I Earned An Additional 27K. It'S Not Uncommon For People In My Space To Earn 100K+ After Commission.",
       'Austria, But I Work Remotely For A Dutch/British Company',
       'I Was Brought In On This Salary To Help With The Ehr And Very Quickly Was Promoted To Current Position But Compensation Was Not Altered.',
       'N/A (Remote From Wherever I Want)', 'Africa',
       'From New Zealand But On Projects Across Apac', 'Australian',
       'Aotearoa New Zealand', 'Bosnia And Herzegovina'], dtype=object)

In [266]:
aus_variations = [
    'Aotearoa New Zealand', 
    'New Zealand Aotearoa',
    'Australi',
    'Australian',
]
df.loc[df['Country'].isin(aus_variations), "Country"] = "Australia"
df['Country'].nunique()

146

In [267]:
variations = df[df['Country'].str.contains('Ca')]
variations['Country'].unique()

array(['Canada', 'Canada, Ottawa, Ontario', 'Canadw', 'Cayman Islands',
       'Can', 'I Am Located In Canada But I Work For A Company In The Us',
       'Canda', 'Canada And Usa', 'Catalonia', 'Canad', 'Cambodia',
       'CanadÃ¡'], dtype=object)

In [268]:

can_variations = [
'Canada', 
'Canada, Ottawa, Ontario', 
'Canadw',
'Can',
'I Am Located In Canada But I Work For A Company In The Us',
'Canda', 
'Canada And Usa',
'Canad',
'CanadÃ¡',
'Csnada'
]
df.loc[df['Country'].isin(can_variations), "Country"] = "Canada"
df['Country'].unique()

array(['United States', 'Australia', 'Ireland', 'Argentina',
       "I Work For An Us Based Company But I'M From Argentina.",
       'Bangladesh', 'Brazil', 'Brasil', 'Canada', 'Switzerland', 'China',
       'Pakistan', 'Colombia', 'Croatia', 'Czech Republic', 'Czechia',
       'Denmark', 'Hungary', 'Ff', 'United Kingdom', 'Indonesia',
       'Israel', 'India', 'South Korea', 'Kuwait', 'Sri Lanka', 'Mexico',
       'MÃ©xico', 'Malaysia', 'Nigeria', 'Norway', 'Taiwan', 'New Zealand',
       'Philippines', 'Poland', 'Mainland China', 'Saudi Arabia',
       'Sweden', 'Singapore', 'Argentina But My Org Is In Thailand',
       'Thailand', 'Turkey', 'Trinidad And Tobago', 'South Africa',
       'The Netherlands', 'Spain', 'Finland', 'France', 'Germany', 'Isa',
       'America', 'Netherlands', 'Bermuda', 'Belgium', 'Hong Kong',
       'Contracts',
       "We Don'T Get Raises, We Get Quarterly Bonuses, But They Periodically Asses Income In The Area You Work, So I Got A Raise Because A 3Rd Party Assessment Showed I Was Paid Too Little For The Area We Were Located",
       'Greece', 'Japan', 'Austria', 'Global', 'Luxembourg',
       'Cayman Islands', 'Latvia', 'Puerto Rico', 'Rwanda',
       'United Arab Emirates', 'Romania', 'Currently Finance', 'Serbia',
       'Russia', 'Catalonia', '$2,175.84/Year Is Deducted For Benefits',
       'Italy (South)', 'Afghanistan', 'Japan, Us Gov Position', 'I.S.',
       'Nz', 'Cambodia', 'Vietnam', 'Remote', 'Lithuania', 'Eritrea',
       'Is', 'Italy', 'Cuba', 'Slovenia', "Cote D'Ivoire",
       'From Romania, But For An Us Based Company', 'Somalia', 'Danmark',
       'Nl', 'Nederland', 'Slovakia', 'Portugal', 'Sierra Leone',
       'Bonus Based On Meeting Yearly Goals Set W/ My Supervisor',
       'International', 'The Bahamas',
       "I Earn Commission On Sales. If I Meet Quota, I'M Guaranteed Another 16K Min. Last Year I Earned An Additional 27K. It'S Not Uncommon For People In My Space To Earn 100K+ After Commission.",
       'Costa Rica', 'Chile', 'Qatar', 'Remote (Philippines)', 'PanamÃ¡',
       'Austria, But I Work Remotely For A Dutch/British Company',
       'I Was Brought In On This Salary To Help With The Ehr And Very Quickly Was Promoted To Current Position But Compensation Was Not Altered.',
       'Congo', 'Uruguay', 'N/A (Remote From Wherever I Want)', 'Uganda',
       'Malta', 'Bulgaria', 'Estonia', 'Morocco', 'Africa', 'Ecuador',
       'Zimbabwe', 'Ghana', 'Luxemburg', 'Ukraine',
       'United States- Puerto Rico',
       'From New Zealand But On Projects Across Apac', 'Y', 'Europe',
       'Jamaica', 'Kenya', 'Jordan', 'Policy', 'Cyprus', 'Hong Konh',
       'Liechtenstein', 'Company In Germany. I Work From Pakistan.',
       'Bosnia And Herzegovina', 'Loutreland', 'Myanmar', 'Burma'],
      dtype=object)

In [269]:
variations = df[df['Country'].str.contains('Ar')]
variations['Country'].unique()

array(['Argentina',
       "I Work For An Us Based Company But I'M From Argentina.",
       'Saudi Arabia', 'Argentina But My Org Is In Thailand',
       "We Don'T Get Raises, We Get Quarterly Bonuses, But They Periodically Asses Income In The Area You Work, So I Got A Raise Because A 3Rd Party Assessment Showed I Was Paid Too Little For The Area We Were Located",
       'United Arab Emirates'], dtype=object)

In [270]:
arg_variations = [
'Argentina',
"I Work For An Us Based Company But I'M From Argentina.",
'Argentina But My Org Is In Thailand',
]
df.loc[df['Country'].isin(arg_variations), "Country"] = "Argentina"
df['Country'].unique()

array(['United States', 'Australia', 'Ireland', 'Argentina', 'Bangladesh',
       'Brazil', 'Brasil', 'Canada', 'Switzerland', 'China', 'Pakistan',
       'Colombia', 'Croatia', 'Czech Republic', 'Czechia', 'Denmark',
       'Hungary', 'Ff', 'United Kingdom', 'Indonesia', 'Israel', 'India',
       'South Korea', 'Kuwait', 'Sri Lanka', 'Mexico', 'MÃ©xico',
       'Malaysia', 'Nigeria', 'Norway', 'Taiwan', 'New Zealand',
       'Philippines', 'Poland', 'Mainland China', 'Saudi Arabia',
       'Sweden', 'Singapore', 'Thailand', 'Turkey', 'Trinidad And Tobago',
       'South Africa', 'The Netherlands', 'Spain', 'Finland', 'France',
       'Germany', 'Isa', 'America', 'Netherlands', 'Bermuda', 'Belgium',
       'Hong Kong', 'Contracts',
       "We Don'T Get Raises, We Get Quarterly Bonuses, But They Periodically Asses Income In The Area You Work, So I Got A Raise Because A 3Rd Party Assessment Showed I Was Paid Too Little For The Area We Were Located",
       'Greece', 'Japan', 'Austria', 'Global', 'Luxembourg',
       'Cayman Islands', 'Latvia', 'Puerto Rico', 'Rwanda',
       'United Arab Emirates', 'Romania', 'Currently Finance', 'Serbia',
       'Russia', 'Catalonia', '$2,175.84/Year Is Deducted For Benefits',
       'Italy (South)', 'Afghanistan', 'Japan, Us Gov Position', 'I.S.',
       'Nz', 'Cambodia', 'Vietnam', 'Remote', 'Lithuania', 'Eritrea',
       'Is', 'Italy', 'Cuba', 'Slovenia', "Cote D'Ivoire",
       'From Romania, But For An Us Based Company', 'Somalia', 'Danmark',
       'Nl', 'Nederland', 'Slovakia', 'Portugal', 'Sierra Leone',
       'Bonus Based On Meeting Yearly Goals Set W/ My Supervisor',
       'International', 'The Bahamas',
       "I Earn Commission On Sales. If I Meet Quota, I'M Guaranteed Another 16K Min. Last Year I Earned An Additional 27K. It'S Not Uncommon For People In My Space To Earn 100K+ After Commission.",
       'Costa Rica', 'Chile', 'Qatar', 'Remote (Philippines)', 'PanamÃ¡',
       'Austria, But I Work Remotely For A Dutch/British Company',
       'I Was Brought In On This Salary To Help With The Ehr And Very Quickly Was Promoted To Current Position But Compensation Was Not Altered.',
       'Congo', 'Uruguay', 'N/A (Remote From Wherever I Want)', 'Uganda',
       'Malta', 'Bulgaria', 'Estonia', 'Morocco', 'Africa', 'Ecuador',
       'Zimbabwe', 'Ghana', 'Luxemburg', 'Ukraine',
       'United States- Puerto Rico',
       'From New Zealand But On Projects Across Apac', 'Y', 'Europe',
       'Jamaica', 'Kenya', 'Jordan', 'Policy', 'Cyprus', 'Hong Konh',
       'Liechtenstein', 'Company In Germany. I Work From Pakistan.',
       'Bosnia And Herzegovina', 'Loutreland', 'Myanmar', 'Burma'],
      dtype=object)

In [271]:
variations = df[df['Country'].str.contains('Br')]
variations['Country'].unique()

array(['Brazil', 'Brasil',
       'Austria, But I Work Remotely For A Dutch/British Company',
       'I Was Brought In On This Salary To Help With The Ehr And Very Quickly Was Promoted To Current Position But Compensation Was Not Altered.'],
      dtype=object)

In [272]:

df.loc[df['Country'].str.contains('Brasil'), "Country"] = "Brazil"


df.loc[df['Country'].str.contains('MÃ©xico'), "Country"] = "Mexico"
df['Country'].unique()

array(['United States', 'Australia', 'Ireland', 'Argentina', 'Bangladesh',
       'Brazil', 'Canada', 'Switzerland', 'China', 'Pakistan', 'Colombia',
       'Croatia', 'Czech Republic', 'Czechia', 'Denmark', 'Hungary', 'Ff',
       'United Kingdom', 'Indonesia', 'Israel', 'India', 'South Korea',
       'Kuwait', 'Sri Lanka', 'Mexico', 'Malaysia', 'Nigeria', 'Norway',
       'Taiwan', 'New Zealand', 'Philippines', 'Poland', 'Mainland China',
       'Saudi Arabia', 'Sweden', 'Singapore', 'Thailand', 'Turkey',
       'Trinidad And Tobago', 'South Africa', 'The Netherlands', 'Spain',
       'Finland', 'France', 'Germany', 'Isa', 'America', 'Netherlands',
       'Bermuda', 'Belgium', 'Hong Kong', 'Contracts',
       "We Don'T Get Raises, We Get Quarterly Bonuses, But They Periodically Asses Income In The Area You Work, So I Got A Raise Because A 3Rd Party Assessment Showed I Was Paid Too Little For The Area We Were Located",
       'Greece', 'Japan', 'Austria', 'Global', 'Luxembourg',
       'Cayman Islands', 'Latvia', 'Puerto Rico', 'Rwanda',
       'United Arab Emirates', 'Romania', 'Currently Finance', 'Serbia',
       'Russia', 'Catalonia', '$2,175.84/Year Is Deducted For Benefits',
       'Italy (South)', 'Afghanistan', 'Japan, Us Gov Position', 'I.S.',
       'Nz', 'Cambodia', 'Vietnam', 'Remote', 'Lithuania', 'Eritrea',
       'Is', 'Italy', 'Cuba', 'Slovenia', "Cote D'Ivoire",
       'From Romania, But For An Us Based Company', 'Somalia', 'Danmark',
       'Nl', 'Nederland', 'Slovakia', 'Portugal', 'Sierra Leone',
       'Bonus Based On Meeting Yearly Goals Set W/ My Supervisor',
       'International', 'The Bahamas',
       "I Earn Commission On Sales. If I Meet Quota, I'M Guaranteed Another 16K Min. Last Year I Earned An Additional 27K. It'S Not Uncommon For People In My Space To Earn 100K+ After Commission.",
       'Costa Rica', 'Chile', 'Qatar', 'Remote (Philippines)', 'PanamÃ¡',
       'Austria, But I Work Remotely For A Dutch/British Company',
       'I Was Brought In On This Salary To Help With The Ehr And Very Quickly Was Promoted To Current Position But Compensation Was Not Altered.',
       'Congo', 'Uruguay', 'N/A (Remote From Wherever I Want)', 'Uganda',
       'Malta', 'Bulgaria', 'Estonia', 'Morocco', 'Africa', 'Ecuador',
       'Zimbabwe', 'Ghana', 'Luxemburg', 'Ukraine',
       'United States- Puerto Rico',
       'From New Zealand But On Projects Across Apac', 'Y', 'Europe',
       'Jamaica', 'Kenya', 'Jordan', 'Policy', 'Cyprus', 'Hong Konh',
       'Liechtenstein', 'Company In Germany. I Work From Pakistan.',
       'Bosnia And Herzegovina', 'Loutreland', 'Myanmar', 'Burma'],
      dtype=object)

In [273]:
c= pd.read_csv('./data.csv')
country = c['Name'].to_list()
country

['Afghanistan',
 'Ã…land Islands',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia, Plurinational State of',
 'Bonaire, Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Bouvet Island',
 'Brazil',
 'British Indian Ocean Territory',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Christmas Island',
 'Cocos (Keeling) Islands',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo, the Democratic Republic of the',
 'Cook Islands',
 'Costa Rica',
 "CÃ´te d'Ivoire",
 'Croatia',
 'Cuba',
 'CuraÃ§ao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Falkland Islands (Malvinas)',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'French Southern Territories',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heard Island and McDonald Islands',
 'Holy See (Vatican City State)',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Republic of',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Democratic People's Republic of",
 'Korea, Republic of',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Macedonia, the Former Yugoslav Republic of',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia, Federated States of',
 'Moldova, Republic of',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norfolk Island',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine, State of',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Pitcairn',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'RÃ©union',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint BarthÃ©lemy',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin (French part)',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Georgia and the South Sandwich Islands',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Svalbard and Jan Mayen',
 'Eswatini',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Taiwan, Province of China',
 'Tajikistan',
 'Tanzania, United Republic of',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Minor Outlying Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, Bolivarian Republic of',
 'Viet Nam',
 'Virgin Islands, British',
 'Virgin Islands, U.S.',
 'Wallis and Futuna',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [274]:
bad_data = df.loc[~df['Country'].isin(country), "Country"] 
bad_data.unique()

array(['Czechia', 'Ff', 'South Korea', 'Taiwan', 'Mainland China',
       'Trinidad And Tobago', 'The Netherlands', 'Isa', 'America',
       'Contracts',
       "We Don'T Get Raises, We Get Quarterly Bonuses, But They Periodically Asses Income In The Area You Work, So I Got A Raise Because A 3Rd Party Assessment Showed I Was Paid Too Little For The Area We Were Located",
       'Global', 'Currently Finance', 'Russia', 'Catalonia',
       '$2,175.84/Year Is Deducted For Benefits', 'Italy (South)',
       'Japan, Us Gov Position', 'I.S.', 'Nz', 'Vietnam', 'Remote', 'Is',
       "Cote D'Ivoire", 'From Romania, But For An Us Based Company',
       'Danmark', 'Nl', 'Nederland',
       'Bonus Based On Meeting Yearly Goals Set W/ My Supervisor',
       'International', 'The Bahamas',
       "I Earn Commission On Sales. If I Meet Quota, I'M Guaranteed Another 16K Min. Last Year I Earned An Additional 27K. It'S Not Uncommon For People In My Space To Earn 100K+ After Commission.",
       'Remote (Philippines)', 'PanamÃ¡',
       'Austria, But I Work Remotely For A Dutch/British Company',
       'I Was Brought In On This Salary To Help With The Ehr And Very Quickly Was Promoted To Current Position But Compensation Was Not Altered.',
       'N/A (Remote From Wherever I Want)', 'Africa', 'Luxemburg',
       'United States- Puerto Rico',
       'From New Zealand But On Projects Across Apac', 'Y', 'Europe',
       'Policy', 'Hong Konh', 'Company In Germany. I Work From Pakistan.',
       'Bosnia And Herzegovina', 'Loutreland', 'Burma'], dtype=object)

In [295]:
df.loc[df['Country'].str.contains('Mainland China'), "Country"] = "China"
df.loc[df['Country'].str.contains('Isa'), "Country"] = "Israel"
df.loc[df['Country'].str.contains('Catalonia'), "Country"] = "Spain"
df.loc[df['Country'].str.contains('Italy \\(South\\)'), "Country"] = "Italy"
df.loc[df['Country'].str.contains('Japan, Us Gov Position'), "Country"] = "Japan"
df.loc[df['Country'].str.contains('Nz'), "Country"] = "New Zealand"
df.loc[df['Country'].str.contains('From Romania, But For An Us Based Company'), "Country"] = "Romania"
df.loc[df['Country'].str.contains('Danmark'), "Country"] = "Denmark"
df.loc[df['Country'].str.contains('Nl'), "Country"] = "The Netherlands"
df.loc[df['Country'].str.contains('Nederland'), "Country"] = "The Netherlands"
df.loc[df['Country'].str.contains('Remote \\(Philippines\\)'), "Country"] = "Philippines"
df.loc[df['Country'].str.contains('PanamÃ¡'), "Country"] = "Panama"
df.loc[df['Country'].str.contains('Hong Konh'), "Country"] = "China"
df.loc[df['Country'].str.contains('Hong Kong'), "Country"] = "China"
df.loc[df['Country'].str.contains('Company In Germany. I Work From Pakistan.'), "Country"] = "Pakistan"
df.loc[df['Country'].str.contains('Bosnia And Herzegovina'), "Country"] = "China"
df.loc[df['Country'].str.contains('Burma'), "Country"] = "Myanmar"
df.loc[df['Country'].str.contains('Luxemburg'), "Country"] = "Luxembourg"
df.loc[df['Country'].str.contains('Czechia'), "Country"] = "Czech Republic"
df.loc[df['Country'].str.contains('United States- Puerto Rico'), "Country"] = "Puerto Rico"
df.loc[df['Country'].str.contains('From New Zealand But On Projects Across Apac'), "Country"] = "New Zealand"
df.loc[df['Country'].str.contains('Austria, But I Work Remotely For A Dutch/British Company'), "Country"] = "Austria"

In [297]:
remove_list=[
    'Ff',
    'Isa', 
    'America',
    'Contracts',
    "We Don'T Get Raises, We Get Quarterly Bonuses, But They Periodically Asses Income In The Area You Work, So I Got A Raise Because A 3Rd Party Assessment Showed I Was Paid Too Little For The Area We Were Located",
    'Global', 
    'Currently Finance', 
    '$2,175.84/Year Is Deducted For Benefits', 
    'Remote', 
    'Is',
    "Cote D'Ivoire", 
    'Bonus Based On Meeting Yearly Goals Set W/ My Supervisor',
    'International', 
    "I Earn Commission On Sales. If I Meet Quota, I'M Guaranteed Another 16K Min. Last Year I Earned An Additional 27K. It'S Not Uncommon For People In My Space To Earn 100K+ After Commission.",
    'I Was Brought In On This Salary To Help With The Ehr And Very Quickly Was Promoted To Current Position But Compensation Was Not Altered.',
    'N/A (Remote From Wherever I Want)', 
    'Africa', 
    'Y', 
    'Europe',
    'Policy', 
    'Loutreland',
    'I.S.'
]

In [298]:
df = df[~df['Country'].isin(remove_list)]

In [300]:
df['Country'].nunique()

91

In [311]:
df.rename(columns={'Unnamed: 7':'Currency'}, inplace=True)
df.rename(columns={'Work Experience in the Field ':'Work Experience in the Field'}, inplace=True)

In [312]:
df

,Timestamp,Age Range,Industry,Job Title,Job Extra Context,Annual Salary,Monetary Compensation,Currency,Income Extra Context,Country,State (US),City,General Work Experience,Work Experience in the Field,Higher Education Level,Gender,Race
0,2021-04-27,35-44,Recruitment or HR,HR Manager/Accounts Payable,NaN,53500,0.0,USD,NaN,United States,Minnesota,Minneapolis,11-20 years,2-4 years,College degree,Woman,White
1,2024-02-06,18-24,Computing or Tech,sdsd,ds,4,22.0,USD,dd,United States,Arkansas,s,5-7 years,11-20 years,Some college,Man,Black or African American
2,2022-01-27,18-24,Media & Digital,homie,NaN,56,5.0,USD,5,United States,Alabama,dino,5-7 years,1 year or less,College degree,Man,White
3,2021-07-06,25-34,Nonprofits,Districtwide Program Coordinator,NaN,47000,NaN,USD,NaN,United States,Michigan,Decatur,8-10 years,8-10 years,Master's degree,Woman,White
4,2021-04-27,45-54,Business or Consulting,Personal Executive Assistant,NaN,55,NaN,USD,NaN,United States,Michigan,Bloomfield Hills,21-30 years,11-20 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28076,2024-09-25,45-54,"Accounting, Banking & Finance",Product Manager Lead,NaN,117000,8000.0,USD,NaN,United States,Missouri,Remote,11-20 years,11-20 years,College degree,Woman,White
28077,2024-09-25,45-54,Education (Primary/Secondary),Curriculum Writer,I am a freelance contract curriculum writer fo...,70000,0.0,USD,NaN,United States,South Carolina,Bennettsville,21-30 years,21-30 years,Master's degree,Woman,White
28078,2024-09-30,55-64,Government and Public Administration,Clerical Officer,NaN,28600,NaN,EUR,NaN,Ireland,NaN,Dublin,21-30 years,1 year or less,"Professional degree (MD, JD, etc.)",Man,White
28079,2024-10-04,18-24,Computing or Tech,Software Engineering Co-Op,I was an Intern,56160,0.0,USD,NaN,United States,Rhode Island,Jhonston,1 year or less,1 year or less,College degree,Man,White
28080,2024-10-07,65 or over,Social networks,Content creator,NaN,2000000,NaN,USD,NaN,Taiwan,"Utah, Wisconsin",Milwaukee,41 years or more,2-4 years,PhD,Non-binary,"Asian or Asian American, Black or African Amer..."

## Cleaning range data

In [313]:
df['General Work Experience'] = df['General Work Experience'].str.replace(' - ', '-')
df['Age Range'] = df['Age Range'].str.replace(' - ', '-')
df['Work Experience in the Field'] = df['Work Experience in the Field'].str.replace(' - ', '-')

In [315]:
df['General Work Experience'] = df['General Work Experience'].str.replace('years', '')
df['Work Experience in the Field'] = df['Work Experience in the Field'].str.replace('years', '')

In [316]:
df

,Timestamp,Age Range,Industry,Job Title,Job Extra Context,Annual Salary,Monetary Compensation,Currency,Income Extra Context,Country,State (US),City,General Work Experience,Work Experience in the Field,Higher Education Level,Gender,Race
0,2021-04-27,35-44,Recruitment or HR,HR Manager/Accounts Payable,NaN,53500,0.0,USD,NaN,United States,Minnesota,Minneapolis,11-20,2-4,College degree,Woman,White
1,2024-02-06,18-24,Computing or Tech,sdsd,ds,4,22.0,USD,dd,United States,Arkansas,s,5-7,11-20,Some college,Man,Black or African American
2,2022-01-27,18-24,Media & Digital,homie,NaN,56,5.0,USD,5,United States,Alabama,dino,5-7,1 year or less,College degree,Man,White
3,2021-07-06,25-34,Nonprofits,Districtwide Program Coordinator,NaN,47000,NaN,USD,NaN,United States,Michigan,Decatur,8-10,8-10,Master's degree,Woman,White
4,2021-04-27,45-54,Business or Consulting,Personal Executive Assistant,NaN,55,NaN,USD,NaN,United States,Michigan,Bloomfield Hills,21-30,11-20,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28076,2024-09-25,45-54,"Accounting, Banking & Finance",Product Manager Lead,NaN,117000,8000.0,USD,NaN,United States,Missouri,Remote,11-20,11-20,College degree,Woman,White
28077,2024-09-25,45-54,Education (Primary/Secondary),Curriculum Writer,I am a freelance contract curriculum writer fo...,70000,0.0,USD,NaN,United States,South Carolina,Bennettsville,21-30,21-30,Master's degree,Woman,White
28078,2024-09-30,55-64,Government and Public Administration,Clerical Officer,NaN,28600,NaN,EUR,NaN,Ireland,NaN,Dublin,21-30,1 year or less,"Professional degree (MD, JD, etc.)",Man,White
28079,2024-10-04,18-24,Computing or Tech,Software Engineering Co-Op,I was an Intern,56160,0.0,USD,NaN,United States,Rhode Island,Jhonston,1 year or less,1 year or less,College degree,Man,White
28080,2024-10-07,65 or over,Social networks,Content creator,NaN,2000000,NaN,USD,NaN,Taiwan,"Utah, Wisconsin",Milwaukee,41 or more,2-4,PhD,Non-binary,"Asian or Asian American, Black or African Amer..."